.post-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 42px;
  }
  
.title {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--primary);
    font-weight: 700;
  }
  .content {
    border-radius: 3px;
    box-shadow: var(--shadow);
    width: 1200px;
    padding: 21px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 42px;
    margin-bottom: 42px;
    background-color: var(--off-white);
    line-height: 1.75em;
  }